<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.dymovies.mapper.TvLiveMapper">

    <!--<resultMap id="tvLiveMap" type="xyz.jdynb.dymovies.common.entity.TvLive">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="weight" column="weight" jdbcType="SMALLINT"/>
            <result property="createAt" column="create_at" jdbcType="TIMESTAMP"/>
    </resultMap>-->
    <select id="findList" resultType="xyz.jdynb.dymovies.common.entity.TvLive">
        select id,
               name,
               url
        from dy_movies.tv_live
        where status = 1
        order by weight desc
    </select>
</mapper>
