<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.dymovies.mapper.VodBannerMapper">

    <select id="findList" resultType="xyz.jdynb.dymovies.common.entity.VodBanner">
        select vd.id, vd.vid, vd.name, vd.pic, vd.note
        from dy_movies.vod_banner vb
                 left join dy_movies.vod_detail vd on vb.flag = vd.flag and vb.vid = vd.vid
        where vb.status = 1
        order by vb.weight
    </select>
</mapper>