<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.dymovies.mapper.VodDetailMapper">

    <resultMap id="vodDetailMap" type="xyz.jdynb.dymovies.entity.VodDetail">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="vid" column="vid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="note" column="note" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="lang" column="lang" jdbcType="VARCHAR"/>
        <result property="area" column="area" jdbcType="VARCHAR"/>
        <result property="year" column="year" jdbcType="SMALLINT"/>
        <result property="actor" column="actor" jdbcType="VARCHAR"/>
        <result property="director" column="director" jdbcType="VARCHAR"/>
        <result property="des" column="des" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="VARCHAR"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="hits" column="hits" jdbcType="INTEGER"/>
        <result property="score" column="score" jdbcType="DECIMAL"/>
        <result property="tid" column="tid" jdbcType="INTEGER"/>
    </resultMap>

    <insert id="addBatch">
        insert into dy_movies.vod_detail (vid, tid, name, note, pic, lang, area, year, actor, director, des, flag, hits,
        score,
        duration, update_time) VALUES
        <foreach collection="vodDetails" item="item" separator=",">
            (#{item.vid},#{item.tid},#{item.name},#{item.note},#{item.pic},#{item.lang},#{item.area},#{item.year},#{item.actor},#{item.director},#{item.des},#{item.flag},#{item.hits},#{item.score},#{item.duration},#{item.updateTime})
        </foreach>
    </insert>
    <insert id="add">
        insert into dy_movies.vod_detail (vid, tid, name, note, pic, lang, area, year, actor, director, des, flag, hits,
                                          score, duration, update_time)
        values (#{vid}, #{tid}, #{name}, #{note}, #{pic}, #{lang}, #{area}, #{year}, #{actor}, #{director}, #{des},
                #{flag}, #{hits}, #{score}, #{duration}, #{updateTime})
    </insert>
    <select id="countByVidAndFlag" resultType="int">
        select count(*)
        from dy_movies.vod_detail
        where flag = #{flag}
          and vid = #{vid}
    </select>
    <select id="count" resultType="int">
        select count(*)
        from dy_movies.vod_detail
        where flag = #{flag}
    </select>
    <select id="findById" resultMap="vodDetailMap">
        select vd.id,
               vd.vid,
               vd.tid,
               vd.note,
               vd.name,
               vd.flag,
               vd.actor,
               vd.area,
               vd.des,
               vd.director,
               vd.lang,
               vd.pic,
               vd.year,
               vd.hits,
               vd.score
        from vod_detail vd
        where vd.id = #{id}
        limit 1
    </select>
    <!--<select id="findListByTid" resultMap="vodMap">
        select v.id,
        v.vid,
        v.name,
        v.tid,
        v.note,
        v.flag,
        v.create_time,
        v.pic
        from dy_movies.vod_detail v
        where v.flag = #{flag}
        <if test="pid != null">
            and v.tid = #{tid}
        </if>
        <if test="pid == null">
            and v.tid in (select id from dy_movies.vod_type where flag = #{flag} and pid = #{tid})
        </if>
        order by v.update_time desc
        limit #{pageOffset}, #{pageSize}
    </select>-->
</mapper>
