<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.dymovies.mapper.VodMapper">

    <sql id="baseSelect">
        select v.id,
               v.vid,
               v.name,
               v.tid,
               v.note,
               v.update_time,
               v.flag,
               v.create_time,
               v.pic
    </sql>

    <sql id="baseQuery">
        <include refid="baseSelect"/>
        ,vt.name as type_name
        from dy_movies.vod_detail v
        left join dy_movies.vod_type vt on v.tid = vt.id and v.flag = vt.flag
        where v.flag = #{flag}
    </sql>

    <resultMap id="vodMap" type="xyz.jdynb.dymovies.entity.Vod">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="vid" column="vid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="tid" column="tid" jdbcType="INTEGER"/>
        <result property="type" column="type_name" jdbcType="VARCHAR"/>
        <result property="pic" column="pic" jdbcType="VARCHAR"/>
        <result property="note" column="note" jdbcType="VARCHAR"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
        <result property="flag" column="flag" jdbcType="VARCHAR"/>
    </resultMap>
    <insert id="addBatch">
        insert into dy_movies.vod(vid, name,tid,note,update_time,flag) values
        <foreach collection="vodList" item="item" separator=",">
            (#{item.vid},#{item.name},#{item.tid},#{item.note},#{item.updateTime},#{item.flag})
        </foreach>
    </insert>
    <insert id="add">
        insert into dy_movies.vod(vid, name, tid, note, update_time, flag)
        values (#{vid}, #{name}, #{tid}, #{note}, #{updateTime}, #{flag})
    </insert>
    <update id="updateAllCate">

    </update>
    <select id="countByPidAndFlag" resultType="int">
        select count(*)
        from dy_movies.vod_detail v
        where flag = #{flag}
          and tid in (select id from dy_movies.vod_type where flag = #{flag} and pid = #{pid})
    </select>
    <select id="countByTidAndFlag" resultType="int">
        select count(*)
        from dy_movies.vod_detail
        where flag = #{flag}
          and tid = #{tid}
    </select>
    <select id="countByVidAndFlag" resultType="java.lang.Integer">
        select count(*)
        from dy_movies.vod
        where flag = #{flag}
          and vid = #{vid}
    </select>
    <select id="findListByTid" resultMap="vodMap">
        <include refid="baseQuery"/>
        <if test="pid != null">
            and v.tid = #{tid}
        </if>
        <if test="pid == null">
            and v.tid in (select id from dy_movies.vod_type where flag = #{flag} and pid = #{tid})
        </if>
        order by v.update_time desc
        limit #{pageOffset}, #{pageSize}
    </select>
    <select id="findLast" resultMap="vodMap">
        <include refid="baseQuery"/>
        <if test="typeId != null">
            and tid = #{typeId}
        </if>
        order by v.update_time desc limit #{pageOffset},#{pageSize}
    </select>
    <select id="findVid" resultType="java.lang.Integer">
        select vid
        from dy_movies.vod_detail
        where id = #{id}
          and flag = #{flag} limit 1
    </select>
</mapper>
