<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.dymovies.mapper.VodSearchMapper">

    <select id="findListByKeywordAndType" resultType="xyz.jdynb.dymovies.entity.VodDetail">
        select v.id, v.vid, v.name, v.tid, v.flag, v.note, v.update_time, v.pic, v.year, v.director, v.lang,
        v.area, v.actor, v.year
        from dy_movies.vod_detail v
        <where>
            <if test="flag != null and flag != ''">
                v.flag = #{flag} and
            </if>
            <if test="pid == null and tid != null and tid != 0">
                v.tid in (select id from dy_movies.vod_type where
                <if test="flag != null and flag != ''">
                    flag = #{flag} and
                </if>
                pid = #{tid}) and
            </if>
            <if test="pid != null and tid != null and tid != 0">
                tid = #{tid} and
            </if>
            v.name like concat('%', #{keyword}, '%')
        </where>
        order by v.year desc, v.update_time desc limit #{pageOffset}, #{pageSize}
    </select>
    <select id="countByKeywordAndType" resultType="java.lang.Integer">
        select count(*)
        from dy_movies.vod_detail v
        <where>
            <if test="flag != null and flag != ''">
                v.flag = #{flag} and
            </if>
            <if test="pid == null and tid != null and tid != 0">
                v.tid in (select id from dy_movies.vod_type where
                <if test="flag != null and flag != ''">
                    flag = #{flag} and
                </if>
                pid = #{tid}) and
            </if>
            <if test="pid != null and tid != null and tid != 0">
                tid = #{tid} and
            </if>
            name like concat('%', #{keyword}, '%')
        </where>
    </select>
</mapper>