<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.dymovies.mapper.VodTypeMapper">

    <resultMap id="baseVopTypeMap" type="xyz.jdynb.dymovies.common.entity.VodType">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="flag" column="flag" jdbcType="VARCHAR"/>
    </resultMap>

    <resultMap id="vodTypeMap" type="xyz.jdynb.dymovies.common.entity.VodType">
        <id property="id" column="parent_id" jdbcType="INTEGER"/>
        <result property="name" column="pname" jdbcType="VARCHAR"/>
        <!--<result property="pid" column="parent_id" jdbcType="INTEGER"/>-->
        <collection property="children" ofType="xyz.jdynb.dymovies.common.entity.VodType">
            <id property="id" column="cid" jdbcType="INTEGER"/>
            <result column="cpid" property="pid" jdbcType="INTEGER"/>
            <result column="cname" property="name" jdbcType="VARCHAR"/>
        </collection>
    </resultMap>

    <select id="findList" resultMap="baseVopTypeMap">
        select distinct name, id, name, flag
        from dy_movies.vod_type
    </select>


    <select id="findListByFlag" resultMap="baseVopTypeMap">
        select id, name, flag from dy_movies.vod_type
        <where>
            <if test="flag != null and flag != ''">
                flag = #{flag} and
            </if>
            status = 1
        </where>
        order by weight desc
    </select>

    <select id="findAllByFlag" resultMap="vodTypeMap">
        select p.id     parent_id,
               p.pid    ppid,
               p.name   pname,
               c.id     cid,
               c.pid    cpid,
               c.name   cname
        from dy_movies.vod_type p
                 left join dy_movies.vod_type c on p.id = c.pid
        where p.flag = #{flag}
          and p.status = 1
          and p.pid = 0
        order by p.weight desc, c.weight desc
    </select>
    <select id="findListByParent" resultType="xyz.jdynb.dymovies.common.entity.VodType">
        select id, name, flag
        from dy_movies.vod_type
        <where>
            <if test="flag != null and flag != ''">
                flag = #{flag} and
            </if>
            pid = 0 and status = 1
        </where>
        order by weight desc
    </select>
    <select id="findListByPid" resultType="xyz.jdynb.dymovies.common.entity.VodType">
        select id, name
        from dy_movies.vod_type
        where flag = #{flag}
          and pid = #{pid}
          and status = 1
        order by weight desc
    </select>
</mapper>
