<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.jdynb.dymovies.mapper.VodVideoMapper">

    <resultMap id="BaseResultMap" type="xyz.jdynb.dymovies.common.entity.VodVideo">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="vid" column="vid" jdbcType="INTEGER"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
    </resultMap>
    <update id="createTable">
        create table dy_movies.vod_video_${flag}
        (
            id   int auto_increment comment '影片视频唯一id'
                primary key,
            vid  int          not null comment '影片关联id',
            name varchar(200) not null comment '视频名称',
            url  varchar(300) not null comment '视频播放地址',
            flag varchar(20)  not null comment '唯一标识'
        )
            comment '影片视频信息';

        create index vod_video_vid_index
            on dy_movies.vod_video_${flag} (vid)
            comment '影片关联id索引';
    </update>
    <select id="existTable" resultType="int">
        select count(*)
        from information_schema.TABLES
        where TABLE_NAME = 'vod_video_${flag}'
    </select>
    <update id="updateUrlById">
        update dy_movies.vod_video_${flag}
        set url = #{url}
        where id = #{id}
    </update>

    <select id="countByVid" resultType="int">
        select count(*)
        from dy_movies.vod_video
        where vid = #{vid}
    </select>

    <select id="countByVidAndFlag" resultType="int">
        select count(*)
        from dy_movies.vod_video_${flag}
        where vid = #{vid}
    </select>

    <select id="findListByName" resultType="xyz.jdynb.dymovies.common.entity.VodVideo">
        select vv.id, vv.vid, vv.name, vv.url, vv.flag
        from dy_movies.vod_video vv
                 left join dy_movies.vod_detail vd on vv.vid = vd.vid and vv.flag = vd.flag
        where vd.name = #{name}
    </select>
    <select id="findById" resultType="xyz.jdynb.dymovies.common.entity.VodVideo">
        select id, vid, name, url, flag
        from dy_movies.vod_video_${flag}
        where id = #{id}
    </select>
    <select id="findByVid" resultType="xyz.jdynb.dymovies.common.entity.VodVideo">
        select id, vid, name, url, flag
        from dy_movies.vod_video_${flag}
        where vid = #{vid}
    </select>
    <select id="findListByNameAndFlag" resultType="xyz.jdynb.dymovies.common.entity.VodVideo">
        select vv.id, vv.vid, vv.name, vv.url, vv.flag
        from dy_movies.vod_detail vd
                 left join dy_movies.vod_video_${flag} vv on vd.vid = vv.vid and vd.flag = vv.flag
        where vd.flag = #{flag} and vd.name = #{name}
    </select>
</mapper>
